# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\rivel\Desktop\td2-cpoa-histoire-dont-vous-etes-le-heros-hdvelh-SofianeLounis\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
